@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    margin: 0;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    font-size: 20px;
}

main {
    height: 100vh;
    width: 100vw;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
}

.col-6 {
    flex: 0 1 50%;
}

.col-4 {
 flex: 0 1 calc(100% / 3);
}

.col-8 {
    flex: 0 1 calc(100% / 1.5);
}

.col-12 {
    flex: 1 1 100%;
}

.container {
    background: #f2647a;
    width: 100%;
    height: 100%;
    position: relative;
}

.card {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    height: 80vh;
    width: 90vw;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
}

.card-products-container {
    flex: 0 1 60%;
    background: #3b3e71;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.card-payment-container {
    flex: 0 1 40%;
    background: #f2f0f1;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.card-content {
    height: 100%;
}

.card-inner-container {
    padding: 10px 20px 10px 20px;
    height: inherit;
}

.slideshow-container {
    position: relative;
    margin: auto;
    height: 80%;
}

.slide {
    height: 25%;
    width: 100%;
    transition: all 0.25s ease-out;
}

.slideshow-prev, .slideshow-next {
    text-align: center;
    width: 100%;
    margin: 10px;
    cursor: pointer;
    font-size: 23px;
    color: #f2647a;
}

.product-details {
    display: flex;
    width: 100%;
    height: 100%;
}

.product-img-container {
    position: relative;
    flex: 0 1 40%;
}

.product-img {
    height: 80% !important;
    width: 100% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-img-background {
    position: absolute;
    background: linear-gradient(180deg, rgba(242, 100, 122, 1), rgba(242, 100, 122, 0.1));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 90%;
}

.product-img-background:before {
    content: "";
    float: left;
    padding-top: 100%; /* initial ratio of 1:1*/
}

.product-description {
    flex: 0 1 60%;
    position: relative;
    margin-left: 10px;
}

.product-description ul {
    padding-left: 0;
    list-style: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-75%);
}

.product-description ul li {
    color: white;
}

.current {
    height: 35%;
}

.next, .prev {
    height: 20%;
    opacity: 0.5;
}

.current, .next, .prev {
    display: block;
}

.inactive {
    display: none;
}

.slideshow-mobile-next, .slideshow-mobile-prev {
    display: none;
}

.divider {
    height: 3px;
    border: none;
    background: #f2647a;
}

.bank-cards-picker-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bank-cards-wrapper {
    position: relative;
    list-style: none;
    columns: 3;
    width: 100%;
    height: 13rem;
}

.bank-card {
    border-radius: 30px;
    width: 60%;
    min-width: 250px;
    height: 250px;
    position: absolute;
    box-shadow: 0px 0px 2rem 0px #888888;
    background-color: #f2647a;
}

.bank-card-prev {
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%) scale(0.85);
}

.bank-card-current {
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bank-card-content {
    padding: 20px;
}

.bank-card-next {
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%) scale(0.85);
}

.payment-icon {
    float: right;
    width: 20%;
    object-fit: cover;
    height: 50px;
}

.hidden {
    display: none;
}

.slider-nav {
    cursor: pointer;
}

.move-out-center-to-left {
    animation: moveOutCenterLeft 0.25s ease-in-out;
}

.move-out-center-to-right {
    animation: moveOutCenterRight 0.25s ease-in-out;
}

.button-primary {
    background: #3b3e71;
    color: white;
    height: 35px;
    min-width: 100px;
    border: none;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    font-size: 1rem;
    text-transform: capitalize;
    outline: none;
    cursor: pointer;
}

.button-primary:hover {
    animation: shake 0.35s ease-out;
}

.custom-select select {
    display: none;
}

.error-text {
    color: tomato;
    padding-top: 5px;
    padding-bottom: 5px;
}

.payment-type-btn-container {
    background: #3b3e71;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    height: 80px;
    color: white;
}

.payment-type-btn-container.active {
    background: #f2647a;
}

.payment-type-btn-container img {
    height: 50px;
    width: 90%;
}

.payment-type-btn {
    border: none;
    outline: none;
    cursor: pointer;
}

.payment-type-btn:hover {
    animation: shake 0.35s ease-out;
}

.bank-cards-picker-container-mobile {
    display: none;
}

@keyframes shake {
    0% {
        transform: translateX(0%);
    }
    15% {
        transform: translateX(-5%);
    }
    30% {
        transform: translateX(-8%);
    }
    45% {
        transform: translateX(-5%);
    }
    60% {
        transform: translateX(0%);
    }
    75% {
        transform: translateX(-5);
    }
    90% {
        transform: translateX(-8%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes moveOutCenterRight {
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    66% {
        transform: translate(-55%, -50%) scale(0.95);
        opacity: 0.8;
    }
    33% {
        transform: translate(-65%, -50%) scale(0.875);
        opacity: 0.8;
    }
    0% {
        transform: translate(-75%, -50%) scale(0.85);
        opacity: 1;
    }
}

@keyframes moveOutCenterLeft {
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    66% {
        transform: translate(-45%, -50%) scale(0.95);
        opacity: 0.8;
    }
    33% {
        transform: translate(-35%, -50%) scale(0.875);
        opacity: 0.8;
    }
    0% {
        transform: translate(-25%, -50%) scale(0.85);
        opacity: 1;
    }
}

@media screen and (max-width: 1150px) {
    .bank-cards-picker-container {
        display: none;
    }

    .bank-cards-picker-container-mobile {
        display: block;
    }
}

@media screen and (max-width: 760px) {
    body {
        height: 100%;
        background: #f2647a;
    }

    .bank-cards-picker-container-mobile {
        display: block;
    }

    .card {
        height: 90%;
    }

    .bank-cards-picker-container {
        display: none;
    }

    .card-products-container {
        flex: 0 1 100%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .card-payment-container {
        flex: 0 1 100%;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .container {

    }

    .prev, .next {
        display: none;
        height: 0;
    }

    .slideshow-next, .slideshow-prev {
        display: none;
    }

    .slideshow-mobile-next, .slideshow-mobile-prev {
        display: block;
        font-size: 20px;
        color: #f2647a;
    }

    .slide {
        height: 50%;
    }

    .card-inner-container {
        height: 100%;
    }

    .slideshow-container {
        height: 200px;
    }
}